@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";

* {
  font-family: 'Google Sans', sans-serif;
}

body {
  background-color: rgb(250, 245, 250);
  color: rgb(51, 51, 51);
}

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;


  @keyframes wiggle {

    0%,
    100% {
      transform: rotate(-10deg);
    }

    50% {
      transform: rotate(10deg);
    }
  }
}